<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/api/products">Ver productos</a></li>
          <li><a href="/api/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/dashboard/new">añadir producto</a></li>
        </ul>
    </nav>
    <h1>Dashboard - Administrador de Productos</h1>
    <a href="/dashboard/new">Añadir Nuevo Producto</a>
    <div class="product-container">
        {{PRODUCTS}}  <!-- Aquí se insertarán los productos dinámicamente -->
    </div>
    <form action="/logout" method="post">
        <button id="submit" name="Logout">Logout</button>
    </form>
</body>
</html>


